[submodule "Shopping_Cart/Abante/extensions/checkoutapipayment/CheckoutApi"]
	path = Shopping_Cart/Abante/extensions/checkoutapipayment/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/Drupal/sites/all/modules/checkoutapipayment/includes/CheckoutApi"]
	path = Shopping_Cart/Drupal/sites/all/modules/checkoutapipayment/includes/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/J2Store/plg_j2store_payment_checkoutapipayment/checkoutapipayment/CheckoutApi"]
	path = Shopping_Cart/J2Store/plg_j2store_payment_checkoutapipayment/checkoutapipayment/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/Jigoshop/wp-content/plugins/checkoutapipayment/CheckoutApi"]
	path = Shopping_Cart/Jigoshop/wp-content/plugins/checkoutapipayment/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/K2Store/plg_k2store_payment_checkoutapipayment/checkoutapipayment/CheckoutApi"]
	path = Shopping_Cart/K2Store/plg_k2store_payment_checkoutapipayment/checkoutapipayment/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/Magento/lib/CheckoutApi"]
	path = Shopping_Cart/Magento/lib/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/Opencart/catalog/controller/payment/includes/CheckoutApi"]
	path = Shopping_Cart/Opencart/catalog/controller/payment/includes/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/Oscommerce/2.3.4/catalog/includes/modules/payment/checkoutapipayment/CheckoutApi"]
	path = Shopping_Cart/Oscommerce/2.3.4/catalog/includes/modules/payment/checkoutapipayment/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/Prestashop/checkoutapipayment/CheckoutApi"]
	path = Shopping_Cart/Prestashop/checkoutapipayment/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/Tomatocart/includes/modules/payment/includes/CheckoutApi"]
	path = Shopping_Cart/Tomatocart/includes/modules/payment/includes/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/Uc_drupal/Ubercart/v7/checkoutapipayment/includes/CheckoutApi"]
	path = Shopping_Cart/Uc_drupal/Ubercart/v7/checkoutapipayment/includes/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/VirtueMart/plugins/vmpayment/checkoutapipayment/CheckoutApi"]
	path = Shopping_Cart/VirtueMart/plugins/vmpayment/checkoutapipayment/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/Woocommerce/wp-content/plugins/checkoutapipayment/CheckoutApi"]
	path = Shopping_Cart/Woocommerce/wp-content/plugins/checkoutapipayment/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/XCart/4.6.5/payment/includes/CheckoutApi"]
	path = Shopping_Cart/XCart/4.6.5/payment/includes/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/Zencart/includes/modules/payment/checkoutapipayment/CheckoutApi"]
	path = Shopping_Cart/Zencart/includes/modules/payment/checkoutapipayment/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi
[submodule "Shopping_Cart/CsCart/app/payments/CheckoutApi/CheckoutApi"]
	path = Shopping_Cart/CsCart/app/payments/CheckoutApi/CheckoutApi
	url = https://github.com/CKOTech/checkout-web-common.git
	branch = CheckoutApi