[submodule "Shopping_Cart/Magento/lib/CheckoutApi"]
	path = Shopping_Cart/Magento/lib/CheckoutApi
	url = https://github.com/dhiraj-gangoosirdar-cko/CheckoutApi.git
[submodule "Shopping_Cart/Prestashop/checkoutapipayment/CheckoutApi"]
	path = Shopping_Cart/Prestashop/checkoutapipayment/CheckoutApi
	url = https://github.com/dhiraj-gangoosirdar-cko/CheckoutApi.git
[submodule "Shopping_Cart/Opencart/catalog/controller/payment/includes/CheckoutApi"]
	path = Shopping_Cart/Opencart/catalog/controller/payment/includes/CheckoutApi
	url = https://github.com/dhiraj-gangoosirdar-cko/CheckoutApi.git
[submodule "Shopping_Cart/Abante/extensions/checkoutapipayment/CheckoutApi"]
	path = Shopping_Cart/Abante/extensions/checkoutapipayment/CheckoutApi
	url = https://github.com/dhiraj-gangoosirdar-cko/CheckoutApi.git
